* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jobi {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.boxid {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: blueviolet;
    height: 33%;
    width: 100%;
    
}

.c1 {
    height: 25px;
    width: 25px;
    background-color: black;
    filter: invert();
    position: relative;
}


.c2 {
    height: 25px;
    width: 55px;
}


.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }

  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .round2 {
    position: relative;
  }
  
  .round2 label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round2 label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round2 input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round2 input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round2 input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 24px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: lime;
  }

input:focus + .slider{
    box-shadow: 0 0 1 px grey;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(54px);
  }

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
}


.switch2 {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 30px;
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 24px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: lime;
  }

input:focus + .slider{
    box-shadow: 0 0 1 px grey;
}

.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(54px);
  }

  input:checked+ .slider .on
  {display: none;}
  
  input:checked + .slider .off
  {display: none;}
  
.switch2:after
  {
   content:'OFF';
   color: white;
   display: none;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'ON';
  }

  .slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
 }
  .slideTwo:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
 }
  .slideTwo label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: white;
    border-radius: 50px;
    transition: all 0.4s ease;
 }

  .slideTwo input[type=checkbox] {
    visibility: hidden;
 }
  .slideTwo input[type=checkbox]:checked + label {
    left: 54px;
 }